<div id="gb-welcome">
 <div class="gb-welcome-section-4" layout="column" layout-align="center center" flex>
  <div class="gb-container mb-20" layout="column" layout-align="" flex>
   <div class="gb-cat-holder" ng-click="vm.getComponentByLocation($event)" layout="column" layout-align="center center" flex>
    <img ng-src="src/assets/images/cats/{{vm.component.component_picture_url}}" alt="">
   </div>
   <div class="">
    <div class="" ng-repeat="food in vm.foods">
     <img ng-src="src/assets/images/foods/{{food.picture_url}}" alt="">
    </div>
   </div>
  </div>
 </div>
</div>