<div class="gb-welcome-section-4" layout="column" layout-align="start start" flex
     ng-click="vm.getComponentByLocation($event)">
 <div class="gb-cat-holder"  layout="column" layout-align="center center">
  <img ng-src="src/assets/images/animals/{{vm.component.component_picture_url}}" alt=""
       ng-style="vm.component.pictureStyle">
 </div>
 <div class="ct-food-row">
  <div class="" layout="row" layout-align="start center" flex>
   <div class="p-8" ng-repeat="food in vm.foods.options" layout-fill>
    <div class="ct-widget-food-item"
         layout="column" layout-align="center center"
         ng-click="vm.chooseFood(food)" flex="25">
     <img ng-src="src/assets/images/food/{{food.picture_url}}" alt="">
    </div>
   </div>
  </div>
 </div>
</div>